<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>inCycle</title>
	<link rel="stylesheet" href="icon/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	<header>
		<nav class="shadowed white">
			<div class="nav-wrapper">
				<a class="brand-logo left" href="/">
					<img src="images/logo2.png" alt="inCycle">
				</a>
				<a href="#" data-target="side-menu" class="sidenav-trigger button-collapse right"><i class="mdi mdi-menu"></i></a>
				<ul class="left hide-on-med-and-down">
				<li><a href="dispose">Dispose</a></li>
				<li><a href="collect">Collect</a></li>
					<li><a>Download</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a>Sign Up</a></li>
					<li><a>Log In</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</nav>
		<div class="header-content collect-header">
			<div class="overlay">
				<div class="text">
					<h2>As a local vendor, household to household cycler, and waste logistics team:</h2>
					<p class="light">
						<img src="images/mark-icon.png" alt="">
						<span>You get constant cash inflow from collection</span>
					</p>
					<p class="light">
						<img src="images/mark-icon.png" alt="">
						<span>You directly engage households on our waste to value system</span>
					</p>
					<button class="btn" href="signup">Sign Up &rarr;</button>
				</div>
				<div class="image">
					<img src="images/barrow-2.png"  alt="">
					<div class="green-box"></div>
				</div>
			</div>
		</div>
	</header>
	<main class="collect">
		<div class="household">
			<div class="content">
				<div class="column">
					<h4>Getting started as a Household Collector</h4>
					<p>At almost every junction in our communities, what is expected is a serene environment, instead what catches our attention are heaps of waste at every street corner and these dumps increase daily in spite of enormous amounts spent on collection by authorities. The collection process of these materials are grossly inadequate and non-inclusive of the main party - The Household. Our collectors directly engage and educate these waste producers on our waste to value system/structure, public health and environmental impact</p>
				</div>
				<div class="column">
					<img src="images/dump.png" alt="">
				</div>
			</div>
		</div>
		<div class="benefits">
			<h4 class="center">Why choose inCycle?</h4>
			<div class="row">
				<div class="col s12 m6 l4">
					<div class="content shadowed">
						<img src="images/cash.png" alt="">
						<h5>Constant Cash Flow</h5>
						<p>You get basic salary and commission from collection. The more recyclables you collect, the more you earn compensation/kg/material type</p>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="content shadowed">
						<img src="images/collect.png" alt="">
						<h5>Collection Made Easy</h5>
						<p>All you need for collection is provided for you. From tricycle, waste bags, collection bags and our mobile app</p>
						<br>
					</div>
				</div>
				<div class="col s12 m6 l4 pull-m3">
					<div class="content shadowed">
						<img src="images/impact.png" alt="">
						<h5>Making Impact</h5>
						<p>You get to directly engage and educate household waste producers on waste to value systems, public health and environmental impact</p>
					</div>
				</div>
			</div>
		</div>
		<div class="steps">
			<h4>How to use the app in simple steps</h4>
			<div class="content">
				<div class="column center">
					<img src="images/iphone.png">
				</div>
				<div class="column">
					<div class="step">
						<div class="number">1</div>
						<p>Get the app installed, create a profile and choose up to three pickup locations</p>
					</div>
					<div class="step">
						<div class="number">2</div>
						<p>Get the pickup notification within your area of choice and ride to the location</p>
					</div>
					<div class="step">
						<div class="number">3</div>
						<p>Weigh materials received, select materials type received on the app and imput material weight in kilogram</p>
					</div>
					<div class="step">
						<div class="number">4</div>
						<p>Compensation price to be paid is shown, stock the material and approve payment</p>
					</div>
				</div>
			</div>
		</div>
		<div class="vendor">
			<div class="content">
				<div class="column">
					<h4>Getting started as a Local Vendor</h4>
					<p>Local Vendors account  for the larget chunk of sorted material recovery that hsa driven the recycling sector thus far across all material type. Yet, they have remained in the shadows and not supported to the mainstream to be more productive and perform better. inCycle gives voice, accomodates and encourages this group.</p>
				</div>
				<div class="column">
					<div class="img"><img src="images/vendor.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="gain">
			<div class="heading">
				<h4>What you stand to gain</h4>
			</div>
			<div class="row">
				<div class="col s12 m6">
					<div class="content">
						<p class="title">No cash? No problem!</p>
						<p>Make money without having a starting capital. You trade, we pay</p>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="content">
						<p class="title">Improved Material Quality</p>
						<p>We provide storage facility that preserves material quality of recyclables, allowing for optimal cash returns on sales</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m6">
					<div class="content">
						<p class="title">Make More</p>
						<p>Get compensated on every transaction per Kg/Category of traded materials. The more you trade, the more you make</p>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="content">
						<p class="title">No Pickup Hassle</p>
						<p>Just get the material, get in touch and we get it out</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="row">
			<div class="col s12 m8 push-m4">
				<div class="row">
					<div class="col s6 m3">
						<p><b>PRODUCT</b></p>
						<p class="light">Download App</p>
						<p class="light">Pricing</p>
					</div>
					<div class="col s6 m3">
						<p><b>SUPPORT</b></p>
						<p class="light">Blog</p>
						<p class="light">Contact</p>
					</div>
					<div class="col s6 m3">
						<p><b>COMPANY</b></p>
						<p class="light">About</p>
						<p class="light">Careers</p>
					</div>
					<div class="col s6 m3">
						<p><b>LEGAL</b></p>
						<p class="light">Terms of Service</p>
						<p class="light">Privacy Policy</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 pull-m8">
				<img class="logo" src="images/logo2.png">
				<p><b>Lagos:</b> <a href="tel:+2348104323995">(+234) 8104323995</a>&nbsp;<a href="tel:+2348163678475">(+234)
						8163678475</a></p>
				<p><b><a href="mailto:hello@getinCycle.com">hello@getinCycle.com</a></b></p>
				<p>
					<img src="images/facebook.png" alt="" class="social">
					<img src="images/twitter.png" alt="" class="social">
					<img src="images/instagram.png" alt="" class="social">
				</p>
			</div>
		</div>
	</footer>
</body>
</html>
