<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>inCycle</title>
	<link rel="stylesheet" href="icon/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
	<header>
		<nav class="shadowed white">
			<div class="nav-wrapper">
				<a class="brand-logo left" href="/">
					<img src="images/logo2.png" alt="inCycle">
				</a>
				<a href="#" data-target="side-menu" class="sidenav-trigger button-collapse right"><i
						class="mdi mdi-menu"></i></a>
				<ul class="left hide-on-med-and-down">
					<li><a href="dispose">Dispose</a></li>
					<li><a href="collect">Collect</a></li>
					<li><a>Download</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a>Sign Up</a></li>
					<li><a>Log In</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</nav>
		<div class="header-content collect-header">
			<div class="overlay">
				<div class="text">
					<h2>You have always paid for waste disposal, now we are paying you for it</h2>
					<p class="light">
						<img src="images/mark-icon.png" alt="">
						<span>All you need to do is get them sorted</span>
					</p>
					<p class="light">
						<img src="images/mark-icon.png" alt="">
						<span>Use inCycle app for urgent pickup</span>
					</p>
					<button class="btn" href="signup">Sign Up &rarr;</button>
				</div>
				<div class="image">
					<img src="images/barrow-2.png" alt="">
					<div class="green-box"></div>
				</div>
			</div>
		</div>
	</header>
	<main class="dispose">
		<div class="liberty">
			<div class="row">
				<div class="col s12 m6 l4">
					<div class="content shadowed">
						<div class="img"><img src="images/liberty.png" alt=""></div>
						<h5>Full liberty, take control</h5>
						<p>Normally you would have to wait until collectors are ready for you. Not again!!! They now work with your schedule at your convenience</p>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="content shadowed">
						<div class="img"><img src="images/sort.png" alt=""></div>
						<h5>Sort it, Earn Cash</h5>
						<p>Simpy do the waste sorting into different bags right from the disposal stage and you get qualified</p>
						<br>
					</div>
				</div>
				<div class="col s12 m6 l4 pull-m3">
					<div class="content shadowed">
						<div class="img"><img src="images/involved.png" alt=""></div>
						<h5>Make impact, get involved</h5>
						<p>The future will either be green or not at all. As waste producers individual participation has an immediate impact on the environment</p>
					</div>
				</div>
			</div>
		</div>
		<div class="download">
			<div class="content">
				<div class="column">
					<img src="images/bins.png">
				</div>
				<div class="column">
					<h3>At inCycle</h3>
					<p>Our material recovery framework introduces a unique touch of fluidity, creating a network that allows access to recyclables at their best quality while giving value to our producers either household producers or commercial producers.</p>
					<p>
						<button class="btn">Sign Up</button>
						<a>Download inCycle App</a>
					</p>
				</div>
			</div>
		</div>
		<div class="steps">
			<h4>How the app works for you</h4>
			<div class="content">
				<div class="column center">
					<img src="images/iphone.png">
				</div>
				<div class="column">
					<div class="step">
						<div class="number">1</div>
						<div>
							<p class="title">DOWNLOAD/SIGNUP</p>
							<p>Get a free inCycle app from the apple app store or Google Play on your smartphone and create your account</p>
						</div>
					</div>
					<div class="step">
						<div class="number">2</div>
						<div>
							<p class="title">REQUEST PICKUP</p>
							<p>When logged in, the app takes your location ehich you manually confirm. Select waste category for disposal. Click Request Pickup. Get matched with your local collector</p>
						</div>
					</div>
					<div class="step">
						<div class="number">3</div>
						<div>
							<p class="title">PICKUP</p>
							<p>Local collector confirms materials and measures in various categories. He inputs the kilogram/material on his app to generate the price equivalent. You confirm the value (Kg and price equivalent)</p>
						</div>
					</div>
					<div class="step">
						<div class="number">4</div>
						<div>
							<p class="title">GET PAID</p>
							<p>The price equivalent of the materials gets disbursed into your inCycle wallet immediately and can be transferred to your bank account when it exceeds the minimum threshold otherwise purchase airtime directly</p>
						</div>
					</div>
				</div>
			</div>
			<div class="download-content">
				<div class="column">
					<h6>Download the inCycle Mobile App</h6>
				</div>
				<div class="column">
					<img src="images/google.png" alt=""><img src="images/apple.png" alt="">
				</div>
			</div>
		</div>
		<div class="about">
			<div class="row">
				<div class="col s12 m6">
					<div class="img">
						<img src="images/plea.png">
					</div>
					<h4>Our Plea</h4>
					<p>We call on you, the producers of this waste in various categories, to be fully engaged in this cause of creating a condusive and liveable place for ourselves and the coming generation (where our offspring will also belong). It is more of our responsibilty. The manufacturers can also produce the essentials and maybe cutback on waste that are not very environmental friendly (if the laws are enforced), but the choice to use these materials and accept them is left bare in our hands as waste producers</p>
				</div>
				<div class="col s12 m6">
					<div class="img">
						<img src="images/mission.png">
					</div>
					<h4>Our Mission</h4>
					<p>In line with this, inCycle commits to getting waste producers across all classes, ages and income levels sensitized with our beamlight focused on the younger generation who are to inherit whatever is left behind. Iterating the effect of our actions, choices and inactions in waste handling to their immediate and global environment. We also bring to light the resource that waste can be and its potential as a revenue source as exeplified with our model</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="row">
			<div class="col s12 m8 push-m4">
				<div class="row">
					<div class="col s6 m3">
						<p><b>PRODUCT</b></p>
						<p class="light">Download App</p>
						<p class="light">Pricing</p>
					</div>
					<div class="col s6 m3">
						<p><b>SUPPORT</b></p>
						<p class="light">Blog</p>
						<p class="light">Contact</p>
					</div>
					<div class="col s6 m3">
						<p><b>COMPANY</b></p>
						<p class="light">About</p>
						<p class="light">Careers</p>
					</div>
					<div class="col s6 m3">
						<p><b>LEGAL</b></p>
						<p class="light">Terms of Service</p>
						<p class="light">Privacy Policy</p>
					</div>
				</div>
			</div>
			<div class="col s12 m4 pull-m8">
				<img class="logo" src="images/logo2.png">
				<p><b>Lagos:</b> <a href="tel:+2348104323995">(+234) 8104323995</a>&nbsp;<a href="tel:+2348163678475">(+234)
						8163678475</a></p>
				<p><b><a href="mailto:hello@getinCycle.com">hello@getinCycle.com</a></b></p>
				<p>
					<img src="images/facebook.png" alt="" class="social">
					<img src="images/twitter.png" alt="" class="social">
					<img src="images/instagram.png" alt="" class="social">
				</p>
			</div>
		</div>
	</footer>
</body>
</html>
