<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>inCycle</title>
  <link rel="stylesheet" href="icon/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <header>
    <nav class="shadowed white">
      <div class="nav-wrapper">
        <a class="brand-logo left" href="/">
          <img src="images/logo2.png" alt="inCycle">
        </a>
        <ul class="left hide-on-med-and-down">
          <li><a href="dispose">Dispose</a></li>
          <li><a href="collect">Collect</a></li>
          <li><a>Download</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a>Sign Up</a></li>
          <li><a>Log In</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </nav>
    <div class="header-content">
      <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!">
          <div class="overlay">
            <div class="text">
              <h2>The easiest way to make money from the waste you generate.</h2>
              <p class="light">
                <img src="images/mark-icon.png" alt="">
                <span>Have your home added to the household collection route</span>
              </p>
              <p class="light">
                <img src="images/mark-icon.png" alt="">
                <span>Just sort your recyclables and you exchange your waste for money</span>
              </p>
              <button class="btn" href="signup">Sign Up</button>
            </div>
            <div class="image">
              <img src="images/trash.png" alt="">
              <div class="green-box"></div>
            </div>
          </div>
        </a>
        <a class="carousel-item" href="#two!">
          <div class="overlay">
            <div class="text">
              <h2>Be part of the generation that keeps the environment safe.</h2>
              <p class="light">
                <img src="images/mark-icon.png" alt="">
                <span>Collect recyclables within your area and get paid</span>
              </p>
              <p class="light">
                <img src="images/mark-icon.png" alt="">
                <span>You get assisted with a customized tricycle</span>
              </p>
              <button class="btn" href="signup">Sign Up</button>
            </div>
            <div class="image">
              <img src="images/barrow.png" alt="">
              <div class="green-box"></div>
            </div>
          </div>
        </a>
        <a class="carousel-item" href="#three!">
          <div class="overlay">
            <div class="text">
              <h2>Our mobile platform makes it easier for you, it gives you a seamless experience.</h2>
              <p class="light">
                <img src="images/mark-icon.png" alt="">
                <span>Households can order their waste pick up right away</span>
              </p>
              <p class="light">
                <img src="images/mark-icon.png" alt="">
                <span>Collectors can get waste pick up alerts as soon as possible</span>
              </p>
              <button class="btn" href="signup">Sign Up</button>
            </div>
            <div class="image">
              <img src="images/iphone.png" class="small-image" alt="">
              <div class="green-box"></div>
            </div>
          </div>
        </a>
      </div>
      <div class="arrows">
        <a href="#!" class="arrow" data-to="-1">&larr;</a>
        <a href="#!" class="arrow" data-to="1">&rarr;</a>
      </div>
    </div>
  </header>
  <main class="home">
    <div class="choose">
      <h4 class="center">Why choose inCycle?</h4>
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="content shadowed">
            <img src="images/pickup.png" alt="">
            <h5>Easiest Pickup Around</h5>
            <p>Make your sorted pickup request and our household collectors reach out to you in minutes</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="content shadowed">
            <img src="images/get-paid.png" alt="">
            <h5>Get Paid</h5>
            <p>You get direct compensation in your inCycle wallet for giving us your sorted waste</p>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="content shadowed">
            <img src="images/anywhere.png" alt="">
            <h5>Anywhere in Lagos</h5>
            <p>We move across Lagos cities. Wherever you live, count on inCycle for a seamless waste pickup</p>
          </div>
        </div>
      </div>
      <div class="center">
        <button class="btn">Start Today</button>
      </div>
    </div>
    <div class="collectors">
      <div class="content">
        <div class="column">
          <h4>Become an inCycle collector</h4>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>With you, waste pickup is covered</span>
          </p>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>You get paid as you collect</span>
          </p>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>You can either be a local vendor or household collector</span>
          </p>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>You can also join our team if you have a truck for pickups</span>
          </p>
          <button class="btn">Join Today</button>
        </div>
        <div class="column">
          <img class="truck-image" src="images/truck.png" alt="">
        </div>
      </div>
    </div>
    <div class="experience">
      <div class="content">
        <div class="column">
          <img src="images/experience.png">
        </div>
        <div class="column">
          <h4>The inCycle experience</h4>
          <p>Each of our contacts with customers is managed by inCycle's team of operations and design experts. Every step through the inCycle experience ensures your waste is picked up with no stress and waste of time</p>
        </div>
      </div>
    </div>
    <div class="business">
      <div class="content">
        <div class="column">
          <h4>inCycle for partners</h4>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>Get quality and frequent recyclables at low prices</span>
          </p>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>Can preorder and get recyclables at their locations</span>
          </p>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>Get an organized material inventory</span>
          </p>
          <button class="btn">Start Order</button>
        </div>
        <div class="column has-box">
          <div class="green-box"></div>
          <img src="images/business.png">
        </div>
      </div>
    </div>
    <div class="estimate">
      <div class="content">
        <div class="column">
          <h4>Know what your bulk material is worth</h4>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>Get a price estimate of your recyclables and trade with us</span>
          </p>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>Sell to us without thinking of logistics</span>
          </p>
          <p class="light">
            <img src="images/mark-icon.png" alt="">
            <span>Buy from us and get discounted prices</span>
          </p>
        </div>
        <div class="column">
          <div class="calculator shadowed">
            <div class="heading">
              <h5>Get Estimate</h5>
            </div>
            <div class="body">
              <form class="row">
                <div class="col s6">
                  <p>Transaction Type</p>
                  <select class="browser-default" required name="transactionType">
                    <option selected value="sell">I want to sell</option>
                    <option value="buy">I want to buy</option>
                  </select>
                </div>
                <div class="col s6">
                  <p>Material Type</p>
                  <select class="browser-default" required name="materialType">
                    <option selected value="plastics">Plastics</option>
                    <option value="metals">Metals</option>
                  </select>
                </div>
                <div class="col s6">
                  <p>Material Total Weight</p>
                  <input type="number" name="weight" class="browser-default">
                </div>
                <div class="col s6">
                  <p>Material Location</p>
                  <input type="text" name="location" class="browser-default">
                </div>
                <div class="col s12">
                  <p class="center">
                    <label class="center">
                      <input type="checkbox" name="useLogistics" class="filled-in" />
                      <span>Use inCycle's logistics</span>
                    </label>
                  </p>
                </div>
                <div class="col s12 center">
                  <button type="submit" class="btn">Get Estimate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="row">
      <div class="col s12 m8 push-m4">
        <div class="row">
          <div class="col s6 m3">
            <p><b>PRODUCT</b></p>
            <p class="light">Download App</p>
            <p class="light">Pricing</p>
          </div>
          <div class="col s6 m3">
            <p><b>SUPPORT</b></p>
            <p class="light">Blog</p>
            <p class="light">Contact</p>
          </div>
          <div class="col s6 m3">
            <p><b>COMPANY</b></p>
            <p class="light">About</p>
            <p class="light">Careers</p>
          </div>
          <div class="col s6 m3">
            <p><b>LEGAL</b></p>
            <p class="light">Terms of Service</p>
            <p class="light">Privacy Policy</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 pull-m8">
        <img class="logo" src="images/logo2.png">
        <p><b>Lagos:</b> <a href="tel:+2348104323995">(+234) 8104323995</a>&nbsp;<a href="tel:+2348163678475">(+234) 8163678475</a></p>
        <p><b><a href="mailto:hello@getinCycle.com">hello@getinCycle.com</a></b></p>
        <p>
          <img src="images/facebook.png" alt="" class="social">
          <img src="images/twitter.png" alt="" class="social">
          <img src="images/instagram.png" alt="" class="social">
        </p>
      </div>
    </div>
  </footer>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
